In [1]:
from datetime import datetime,date
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [2]:
style.use('ggplot')

In [3]:
today = datetime.today().strftime('%Y-%m-%d')
a_day_ago = datetime.today() - relativedelta(days=+1)
a_week_ago = datetime.today() - relativedelta(weeks=+1)
a_month_ago = datetime.today() - relativedelta(months=+1)
half_year_ago = datetime.today() - relativedelta(months=+6)
a_year_ago  = datetime.today() - relativedelta(years=+1)
five_years_ago  = datetime.today() - relativedelta(years=+5)

In [4]:
assets = ['TSLA', 'KO', 'AAPL', 'BNTX','MRNA','NFLX','AMZN','ADSK','MDLZ','GOOGL']

In [5]:
# Assign weight to stocks
weights = np.array([0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1,0.1])

In [6]:
df_a_day_ago = pd.DataFrame()
df_a_week_ago = pd.DataFrame()
df_a_month_ago = pd.DataFrame()
df_half_year_ago = pd.DataFrame()
df_a_year_ago = pd.DataFrame()
df_five_years_ago = pd.DataFrame()

In [7]:
import calendar
my_date = date.today()

if calendar.day_name[my_date.weekday()] == 'Saturday' or 'Sunday':
    a_day_ago = datetime.today() - relativedelta(days=+2)

In [8]:
for stock in assets:
    df_a_day_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_day_ago, end = today)['Adj Close']
    df_a_week_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_week_ago, end = today)['Adj Close']
    df_a_month_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_month_ago, end = today)['Adj Close']
    df_half_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=half_year_ago, end = today)['Adj Close']
    df_a_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_year_ago, end = today)['Adj Close']
    df_five_years_ago = web.DataReader(stock, data_source = 'yahoo', start=five_years_ago , end = today)['Adj Close']

In [9]:
df = pd.DataFrame(
    {'dfs':[df_a_day_ago, df_a_week_ago, df_a_month_ago, df_half_year_ago, df_a_year_ago, df_five_years_ago]
    },
    index = ['1 day ago','1 week ago','1 month ago','half year ago','1 year ago', '5 years ago'],)

In [10]:
# Show the daily simple return
returns = df_a_year_ago.pct_change()   # /(price(i+1)/price(i))-1
returns

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
Date,,,,,,,,,,
2020-02-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-21,0.001768,0.006865,-0.022635,-0.000927,-0.016721,-0.015363,-0.026534,-0.023032,-0.004912,-0.022103
2020-02-24,-0.074595,-0.024613,-0.047500,-0.054096,0.019748,-0.029916,-0.041356,-0.037343,-0.017191,-0.042873
2020-02-25,-0.040634,-0.014152,-0.033872,0.092810,0.278107,-0.023352,-0.018191,-0.039306,-0.012470,-0.023622
2020-02-26,-0.026390,-0.003805,0.015864,0.009270,0.227273,0.053181,0.003472,0.021100,-0.002806,0.002994
...,...,...,...,...,...,...,...,...,...,...
2021-02-12,0.005495,0.007753,0.001776,-0.003982,0.001635,-0.001919,0.004776,0.016422,-0.008800,0.003007
2021-02-16,-0.024384,-0.008286,-0.016104,-0.027050,-0.028355,0.001366,-0.002673,0.010094,-0.005617,0.007480
2021-02-17,0.002424,-0.002785,-0.017644,-0.007169,-0.009914,-0.010659,0.012141,-0.018493,0.000729,0.003752
2021-02-18,-0.013494,0.012767,-0.008636,-0.008013,-0.040677,-0.005659,0.005921,-0.005950,0.022032,-0.006046
2021-02-19,-0.007722,-0.013000,0.001233,0.026986,0.030489,-0.014593,-0.023535,0.015563,-0.032425,-0.008073

In [11]:
df_a_year_ago.describe()

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
count,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000,253.000000
mean,381.641786,48.263990,102.119602,74.597826,79.366699,470.994980,2847.977542,234.269565,54.054908,1538.159487
std,233.624747,3.650850,24.235878,25.941869,41.006315,60.303797,493.641403,46.110372,3.523376,232.572921
min,72.244003,36.635704,55.661041,28.549999,18.230000,298.839996,1676.609985,136.000000,40.992168,1054.130005
25%,163.884003,45.580044,78.815979,51.029999,58.570000,429.320007,2426.260010,196.639999,51.160957,1406.750000
50%,367.127991,48.480000,110.755638,69.230003,69.000000,485.799988,3104.199951,237.619995,55.189999,1510.800049
75%,486.640015,50.299999,121.598289,93.690002,93.150002,513.969971,3205.030029,258.970001,57.090000,1734.560059
max,883.090027,58.140400,142.946396,129.539993,185.979996,586.340027,3531.449951,320.130005,58.711872,2118.620117

In [12]:
# Creat and show the annualized covariance matrix
cov_matrix_annual = returns.cov() * 252   # /(price(i+1)/price(i))-1
cov_matrix_annual

,TSLA,KO,AAPL,BNTX,MRNA,NFLX,AMZN,ADSK,MDLZ,GOOGL
TSLA,0.712808,0.093292,0.206118,-0.133314,0.012988,0.164334,0.159009,0.203923,0.121774,0.155821
KO,0.093292,0.124194,0.093405,0.115792,0.021241,0.039823,0.046152,0.101061,0.090936,0.084984
AAPL,0.206118,0.093405,0.222019,0.086235,0.016814,0.126938,0.133273,0.156147,0.108440,0.137320
BNTX,-0.133314,0.115792,0.086235,1.660979,0.514676,0.031431,0.066860,0.090588,0.101737,0.088678
MRNA,0.012988,0.021241,0.016814,0.514676,1.009394,-0.010801,0.000535,0.011212,0.015488,-0.014442
NFLX,0.164334,0.039823,0.126938,0.031431,-0.010801,0.241859,0.133726,0.113726,0.067541,0.106023
AMZN,0.159009,0.046152,0.133273,0.066860,0.000535,0.133726,0.148677,0.120288,0.065780,0.106196
ADSK,0.203923,0.101061,0.156147,0.090588,0.011212,0.113726,0.120288,0.265096,0.104811,0.145851
MDLZ,0.121774,0.090936,0.108440,0.101737,0.015488,0.067541,0.065780,0.104811,0.113885,0.091965
GOOGL,0.155821,0.084984,0.137320,0.088678,-0.014442,0.106023,0.106196,0.145851,0.091965,0.158782

In [13]:
# Calculate the portfolio variance
port_variance = np.dot(weights.T, np.dot(weights,cov_matrix_annual))
port_variance

0.1324644580021783

In [14]:
# Calculate the portfolio volatility aka standart deviaton

port_volatility = np.sqrt(port_variance)
port_volatility

0.3639566705010066

In [15]:
# Calculate the annual portfolio return
portfolioSimpleAnnualReturn = np.sum(returns.mean() * weights) * 252
portfolioSimpleAnnualReturn

0.8991582013561209

In [16]:
# Show the expected annual return, volatility
percent_var = str( round(port_variance,2) * 100) + '%'
percent_vola = str(round(port_volatility,2)*100) + '%'
percent_return  = str(round(portfolioSimpleAnnualReturn,2)* 100) + '%'

In [17]:
print('Expected annual return:' , percent_return)
print('Annual volatility /risk:', percent_vola)
print('Annual variance:', percent_var)

Expected annual return: 90.0%
Annual volatility /risk: 36.0%
Annual variance: 13.0%

In [18]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [19]:
#Portfolio Optimization

#Calculate the expected Returns and the annualised sample covariance matrix of asset returns
mu = expected_returns.mean_historical_return(df_a_year_ago)
S = risk_models.sample_cov(df_a_year_ago)

#Optimize for max sharpe ratio - it measures the performance of an investment compared to investments such as bonds or treasury bills
ef = EfficientFrontier(mu,S)
weights = ef.max_sharpe()

cleaned_weights = ef.clean_weights()
print(cleaned_weights)
ef.portfolio_performance(verbose = True)

OrderedDict([('TSLA', 0.35302), ('KO', 0.0), ('AAPL', 0.0), ('BNTX', 0.0), ('MRNA', 0.64698), ('NFLX', 0.0), ('AMZN', 0.0), ('ADSK', 0.0), ('MDLZ', 0.0), ('GOOGL', 0.0)])
Expected annual return: 663.1%
Annual volatility: 71.9%
Sharpe Ratio: 9.19

(6.6311235356798655, 0.7192236263153141, 9.19202775574768)

In [20]:
from pypfopt.discrete_allocation import DiscreteAllocation, get_latest_prices

In [21]:
latest_prices = get_latest_prices(df_a_year_ago)
weights = cleaned_weights
da = DiscreteAllocation(weights, latest_prices, total_portfolio_value = 10000)

allocation, leftover = da.lp_portfolio()
print('Discrete allocation:', allocation)
print('Funds remaining: ${:.2f}'.format(leftover))

Discrete allocation: {'TSLA': 4, 'MRNA': 38}
Funds remaining: $234.68

In [22]:
#pip install cvxpy

In [23]:
#pip install cvxopt

In [24]:
#Time
#schedule.every().day.at("15:30").do()
#schedule.every().day.at("22:00"do.()

#while True:
    #schedule.run_pending()
    #time.sleep(1)