In [ ]:
from datetime import datetime,date
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import pandas_datareader.data as web
from dateutil.relativedelta import relativedelta

In [ ]:
style.use('ggplot')

In [ ]:
today = datetime.today().strftime('%Y-%m-%d')
a_day_ago = datetime.today() - relativedelta(days=+1)
a_week_ago = datetime.today() - relativedelta(weeks=+1)
a_month_ago = datetime.today() - relativedelta(months=+1)
half_year_ago = datetime.today() - relativedelta(months=+6)
a_year_ago =six_months_before = datetime.today() - relativedelta(years=+1)
five_years_ago =six_months_before = datetime.today() - relativedelta(years=+5)

In [ ]:
assets = ['TSLA', 'KO', 'AAPL', 'BNTX','MRNA','NFLX','AMZN','ADSK','MDLZ','GOOGL']

In [ ]:
df_a_day_ago = pd.DataFrame()
df_a_week_ago = pd.DataFrame()
df_a_month_ago = pd.DataFrame()
df_half_year_ago = pd.DataFrame()
df_a_year_ago = pd.DataFrame()
df_five_years_ago = pd.DataFrame()

In [ ]:
from datetime import date
import calendar
my_date = date.today()

if calendar.day_name[my_date.weekday()] == 'Saturday' or 'Sunday':
    a_day_ago = datetime.today() - relativedelta(days=+2)

In [ ]:
for stock in assets:
    df_a_day_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_day_ago, end = today)['Adj Close']
    df_a_week_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_week_ago, end = today)['Adj Close']
    df_a_month_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_month_ago, end = today)['Adj Close']
    df_half_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=half_year_ago, end = today)['Adj Close']
    df_a_year_ago[stock] = web.DataReader(stock, data_source = 'yahoo', start=a_year_ago, end = today)['Adj Close']
    df_five_years_ago = web.DataReader(stock, data_source = 'yahoo', start=five_years_ago , end = today)['Adj Close']

In [ ]:
df = pd.DataFrame(
    {'dfs':[df_a_day_ago, df_a_week_ago, df_a_month_ago, df_half_year_ago, df_a_year_ago, df_five_years_ago]
    },
    index = ['1 day ago','1 week ago','1 month ago','half year ago','1 year ago', '5 years ago'],)

In [2]:
import mysql.connector

db = mysql.connector.connect(
  host="127.0.0.1",
  user="Furkan",
  password=""
)
print(db)
#mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE BestInvest")

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1' (10061)

In [ ]:
import mysql
Con = mysql.Connect(host="127.0.0.1", port=3306, user="Nurcan Düzenli", passwd="efd61", db="test")
Cursor = Con.cursor()
sql = "SELECT * FROM test.testing"
Cursor.execute(sql)

In [ ]:
#Time
#schedule.every().day.at("15:30").do()
#schedule.every().day.at("22:00"do.()

#while True:
    #schedule.run_pending()
    #time.sleep(1)